
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block title %}
    <title>een.cloud - API Evangelist for Eagle Eye Networks</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="/static/dataTables.bootstrap4.min.css">

    <!-- Custom styles for this template -->
<!--     <link href="album.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet"> -->
    <link href="/static/style.css" rel="stylesheet">


    {% block style %}
    {% endblock %}

  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Mini-site to demonstrate how to embed multiple live viewers to create a monitor app using the <a href="https://apidocs.eagleeyenetworks.com/apidocs/">Eagle Eye Networks API</a>.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              {% if session['logged_in'] %}
              <ul class="list-unstyled">
                <li><a href="/2x2" class="text-white">2x2</a></li>
                <li><a href="/3x3" class="text-white">3x3</a></li>
                <li><a href="/4x4" class="text-white">4x4</a></li>
                <li><a href="/logout" class="text-white">Logout</a></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
		  <strong><small>monitor</small>.een.cloud</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
    {% block main %}
      
    {% endblock %}

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
        </p>
        <p></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    {% block script %}

    {% endblock%}
  </body>
</html>
