{% extends "base.html" %}

{% block main %}

<div class="container"> 
    <div class="row">
        <div class="col-md-6 offset-3">

            <h2>Pulling An Image From Video</h2>

            <p>The <a href="https://apidocs.eagleeyenetworks.com/apidocs/">Eagle Eye API</a> allows you get to get a low-resolution preview image or the full resolution video.  This little webapp is an example of how to get a full resolution image.  It does this in the most obtuse way, it pulls a couple seconds of video and then calls FFMPEG to extract a keyframe from it.</p>

            <p>
                You'll need to make the following API calls:
                <ul>
                    <li>/api/pull_frame/<i>device_id</i>/<i>start_timestamp</i>/<i>auth_key</i></li>
                    <li>/api/download/<i>device_id</i>-<i>start_timestamp</i>.jpg</li>
                </ul>
            </p>

            <p>
                Files that have already be pulled from video:

                <ul>
                {% for f in file_list %}
                    <li><a href="/api/download/{{ f }}">{{ f }}</a></li>
                {% endfor %}
                </ul>
            </p>
            
        </div>
    </div>
</div>

{% endblock %}
