{% extends "base.html" %}


{% block main %}

<div class="container"> 
    <div class="row">
        <div class="col-md-4 offset-4">
            <h2>Generate an Excel file</h2>

            <p>This will create an Excel file with all the video events for that camera between the date ranges.</p>

            <form action="/excel/generate" method="post" enctype="multipart/form-data">
                <select name="esn" style="width:100%;">
                {% for camera in cameras %}
                    <option value="{{ camera.camera_id }}">{{ camera.name }}</option>
                {% endfor %}
                </select>    
                <input  style="width:100%;"type="date" name="start_time" placeholder="start time">
                <input  style="width:100%;"type="date" name="end_time" placeholder="end time">
                <input  style="width:100%;"type="submit" name="generate">
            </form>
        </div>
    </div>
</div>



{% endblock %}
